In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import json

# These commands below set some options for pandas and to have matplotlib show the charts in the notebook
pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline

# Load the data
# We have this defaulted to the folder OUTSIDE of your repo - please change it as needed
population = pd.read_csv('Population by Age and Sex - US, States, Counties.csv')
with open('legislators-historical.json', 'r') as file:
    file_data = json.load(file)
rows = []
for person in file_data:
    base_info = {
        "bioguide_id": person["id"].get("bioguide"),
        "govtrack_id": person["id"].get("govtrack"),
        "icpsr_id": person["id"].get("icpsr"),
        "wikipedia": person["id"].get("wikipedia"),
        "wikidata": person["id"].get("wikidata"),
        "first_name": person["name"]["first"],
        "last_name": person["name"]["last"],
        "gender": person["bio"].get("gender"),
        "birthday": person["bio"].get("birthday"),
    }
    for term in person["terms"]:
        row = base_info.copy()
        row.update({
            "type": term["type"],
            "start": term["start"],
            "end": term["end"],
            "state": term["state"],
            "district": term.get("district"),
            "party": term.get("party"),
            "class": term.get("class"),
        })
        rows.append(row)

# # Convert to DataFrame
legislators = pd.DataFrame(rows)

# Note - for now, it is okay to ignore the warning about mixed types.

In [13]:
# Display the DataFrame

# Convert term start & end to datetimes
legislators['start'] = pd.to_datetime(legislators['start'])
legislators['end'] = pd.to_datetime(legislators['end'])

# Filter to starting on or after 2000
leg_filtered_df = legislators[legislators['start'].dt.year >= 1900] 

leg_filtered_df[leg_filtered_df["last_name"] == ""]

Empty DataFrame
Columns: [bioguide_id, govtrack_id, icpsr_id, wikipedia, wikidata, first_name, last_name, gender, birthday, type, start, end, state, district, party, class]
Index: []

In [35]:
##Gabby test cell
filtered_pop = population[population['Description'] == 'U.S.']

# Remove unnecessary columns
filtered_pop = filtered_pop.drop(['IBRC_Geo_ID', 'Statefips', 'Countyfips'], axis=1)

# Function to get percentages of populations
def percent(row, name):
    base = row['Total Population']
    return row[name]/base

for c in filtered_pop.columns:
    if 'population' in c.lower():
        filtered_pop['% ' + c] = filtered_pop.apply(lambda row: percent(row, c), axis = 1)
#filtered_pop['0-4 Percent'] = filtered_pop.apply(lambda row: percent(row, "Population 0-4"), axis = 1)
filtered_pop.columns
filtered_pop

,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,...,% Population 5-17,% Population 18-24,% Population 25-44,% Population 45-64,% Population 65+,% Population Under 18,% Population 18-54,% Population 55+,% Male Population,% Female Population
0,U.S.,2000,"282,162,411.00","19,178,293.00","53,197,896.00","27,315,274.00","84,973,340.00","62,428,040.00","35,069,568.00","72,376,189.00",...,0.19,0.10,0.30,0.22,0.12,0.26,0.53,0.21,0.49,0.51
1,U.S.,2001,"284,968,955.00","19,298,217.00","53,372,958.00","27,992,652.00","84,523,274.00","64,491,563.00","35,290,291.00","72,671,175.00",...,0.19,0.10,0.30,0.23,0.12,0.26,0.53,0.21,0.49,0.51
2,U.S.,2002,"287,625,193.00","19,429,192.00","53,507,265.00","28,480,708.00","83,990,295.00","66,695,526.00","35,522,207.00","72,936,457.00",...,0.19,0.10,0.29,0.23,0.12,0.25,0.53,0.22,0.49,0.51
3,U.S.,2003,"290,107,933.00","19,592,446.00","53,508,312.00","28,916,746.00","83,398,001.00","68,828,899.00","35,863,529.00","73,100,758.00",...,0.18,0.10,0.29,0.24,0.12,0.25,0.53,0.22,0.49,0.51
4,U.S.,2004,"292,805,298.00","19,785,885.00","53,511,850.00","29,302,179.00","83,066,831.00","70,935,234.00","36,203,319.00","73,297,735.00",...,0.18,0.10,0.28,0.24,0.12,0.25,0.53,0.22,0.49,0.51
5,U.S.,2005,"295,516,599.00","19,917,400.00","53,606,269.00","29,441,546.00","82,764,185.00","73,137,401.00","36,649,798.00","73,523,669.00",...,0.18,0.10,0.28,0.25,0.12,0.25,0.52,0.23,0.49,0.51
6,U.S.,2006,"298,379,912.00","19,938,883.00","53,818,831.00","29,602,839.00","82,638,980.00","75,216,272.00","37,164,107.00","73,757,714.00",...,0.18,0.10,0.28,0.25,0.12,0.25,0.52,0.23,0.49,0.51
7,U.S.,2007,"301,231,207.00","20,125,962.00","53,893,443.00","29,808,025.00","82,509,693.00","77,068,373.00","37,825,711.00","74,019,405.00",...,0.18,0.10,0.27,0.26,0.13,0.25,0.52,0.24,0.49,0.51
8,U.S.,2008,"304,093,966.00","20,271,127.00","53,833,475.00","30,194,274.00","82,399,959.00","78,617,510.00","38,777,621.00","74,104,602.00",...,0.18,0.10,0.27,0.26,0.13,0.24,0.52,0.24,0.49,0.51
9,U.S.,2009,"306,771,529.00","20,244,518.00","53,889,649.00","30,530,346.00","82,211,153.00","80,272,688.00","39,623,175.00","74,134,167.00",...,0.18,0.10,0.27,0.26,0.13,0.24,0.51,0.24,0.49,0.51
10,U.S.,2010,"309,321,666.00","20,188,815.00","53,931,851.00","30,762,380.00","82,191,286.00","81,769,110.00","40,478,224.00","74,120,666.00",...,0.17,0.10,0.27,0.26,0.13,0.24,0.51,0.25,0.49,0.51
11,U.S.,2011,"311,556,874.00","20,123,103.00","53,784,421.00","31,078,554.00","82,427,353.00","82,793,428.00","41,350,015.00","73,907,524.00",...,0.17,0.10,0.26,0.27,0.13,0.24,0.51,0.25,0.49,0.51
12,U.S.,2012,"313,830,990.00","19,976,065.00","53,720,599.00","31,371,460.00","82,801,927.00","82,830,576.00","43,130,363.00","73,696,664.00",...,0.17,0.10,0.26,0.26,0.14,0.23,0.50,0.26,0.49,0.51
13,U.S.,2013,"315,993,715.00","19,849,215.00","53,719,487.00","31,488,416.00","83,279,411.00","83,027,731.00","44,629,455.00","73,568,702.00",...,0.17,0.10,0.26,0.26,0.14,0.23,0.50,0.27,0.49,0.51
14,U.S.,2014,"318,301,008.00","19,872,349.00","53,691,374.00","31,416,072.00","83,849,830.00","83,314,367.00","46,157,016.00","73,563,723.00",...,0.17,0.10,0.26,0.26,0.15,0.23,0.50,0.27,0.49,0.51
15,U.S.,2015,"320,635,163.00","19,918,078.00","53,699,973.00","31,130,843.00","84,475,800.00","83,759,699.00","47,650,770.00","73,618,051.00",...,0.17,0.10,0.26,0.26,0.15,0.23,0.49,0.28,0.49,0.51
16,U.S.,2016,"322,941,311.00","19,921,759.00","53,727,654.00","30,801,776.00","85,191,223.00","84,096,828.00","49,202,071.00","73,649,413.00",...,0.17,0.10,0.26,0.26,0.15,0.23,0.49,0.28,0.49,0.51
17,U.S.,2017,"324,985,539.00","19,890,972.00","53,694,374.00","30,519,684.00","86,019,996.00","84,107,109.00","50,753,404.00","73,585,346.00",...,0.17,0.09,0.26,0.26,0.16,0.23,0.49,0.29,0.49,0.51
18,U.S.,2018,"326,687,501.00","19,762,962.00","53,556,183.00","30,373,478.00","86,823,584.00","83,801,955.00","52,369,339.00","73,319,145.00",...,0.16,0.09,0.27,0.26,0.16,0.22,0.49,0.29,0.49,0.51
19,U.S.,2019,"328,239,523.00","19,576,683.00","53,462,467.00","30,219,206.00","87,599,465.00","83,323,439.00","54,058,263.00","73,039,150.00",...,0.16,0.09,0.27,0.25,0.16,0.22,0.48,0.29,0.49,0.51

In [36]:
##Ambro Test cell
def load_json(file_name: str):
    with open(file_name, 'r') as file:
        file_data = json.load(file)
    rows = []
    for person in file_data:
        base_info = {
            "bioguide_id": person["id"].get("bioguide"),
            "govtrack_id": person["id"].get("govtrack"),
            "icpsr_id": person["id"].get("icpsr"),
            "wikipedia": person["id"].get("wikipedia"),
            "wikidata": person["id"].get("wikidata"),
            "first_name": person["name"]["first"],
            "last_name": person["name"]["last"],
            "gender": person["bio"].get("gender"),
            "birthday": person["bio"].get("birthday"),
        }
        for term in person["terms"]:
            row = base_info.copy()
            row.update({
                "type": term["type"],
                "start": term["start"],
                "end": term["end"],
                "state": term["state"],
                "district": term.get("district"),
                "party": term.get("party"),
                "class": term.get("class"),
            })
            rows.append(row)

    # Convert to DataFrame
    legislators = pd.DataFrame(rows)
    return legislators
incumbent = load_json('legislators-current.json')
non_incumbent = load_json('legislators-historical.json')

In [22]:
##Uma test cell

In [ ]:
##Chad test cell