In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import json

# These commands below set some options for pandas and to have matplotlib show the charts in the notebook
pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline

# Load the data
# We have this defaulted to the folder OUTSIDE of your repo - please change it as needed
population = pd.read_csv('Population by Age and Sex - US, States, Counties.csv')
with open('legislators-historical.json', 'r') as file:
    file_data = json.load(file)
rows = []
for person in file_data:
    base_info = {
        "bioguide_id": person["id"].get("bioguide"),
        "govtrack_id": person["id"].get("govtrack"),
        "icpsr_id": person["id"].get("icpsr"),
        "wikipedia": person["id"].get("wikipedia"),
        "wikidata": person["id"].get("wikidata"),
        "first_name": person["name"]["first"],
        "last_name": person["name"]["last"],
        "gender": person["bio"].get("gender"),
        "birthday": person["bio"].get("birthday"),
    }
    for term in person["terms"]:
        row = base_info.copy()
        row.update({
            "type": term["type"],
            "start": term["start"],
            "end": term["end"],
            "state": term["state"],
            "district": term.get("district"),
            "party": term.get("party"),
            "class": term.get("class"),
        })
        rows.append(row)

# Convert to DataFrame
legislators = pd.DataFrame(rows)

# Note - for now, it is okay to ignore the warning about mixed types.

FileNotFoundError: [Errno 2] No such file or directory: 'legislators-current'

In [42]:
# empty
legislators.head()

,bioguide_id,govtrack_id,icpsr_id,wikipedia,wikidata,first_name,last_name,gender,birthday,type,start,end,state,district,party,class
0,B000226,401222,507.00,Richard Bassett (Delaware politician),Q518823,Richard,Bassett,M,1745-04-02,sen,1789-03-04,1793-03-03,DE,NaN,Anti-Administration,2.00
1,B000546,401521,786.00,Theodorick Bland (congressman),Q1749152,Theodorick,Bland,M,1742-03-21,rep,1789-03-04,1791-03-03,VA,9.00,None,NaN
2,B001086,402032,"1,260.00",Aedanus Burke,Q380504,Aedanus,Burke,M,1743-06-16,rep,1789-03-04,1791-03-03,SC,2.00,None,NaN
3,C000187,402334,"1,538.00",Daniel Carroll,Q674371,Daniel,Carroll,M,1730-07-22,rep,1789-03-04,1791-03-03,MD,6.00,None,NaN
4,C000538,402671,"1,859.00",George Clymer,Q708913,George,Clymer,M,1739-03-16,rep,1789-03-04,1791-03-03,PA,-1.00,None,NaN

In [37]:
##Gabby test cell

In [ ]:
##Ambro Test cell
#creating a function to load both congressional datasets, current and historical
def load_json(file_name: str):
    with open(file_name, 'r') as file:
        file_data = json.load(file)
    rows = []
    for person in file_data:
        base_info = {
            "bioguide_id": person["id"].get("bioguide"),
            "govtrack_id": person["id"].get("govtrack"),
            "icpsr_id": person["id"].get("icpsr"),
            "wikipedia": person["id"].get("wikipedia"),
            "wikidata": person["id"].get("wikidata"),
            "first_name": person["name"]["first"],
            "last_name": person["name"]["last"],
            "gender": person["bio"].get("gender"),
            "birthday": person["bio"].get("birthday"),
        }
        for term in person["terms"]:
            row = base_info.copy()
            row.update({
                "type": term["type"],
                "start": term["start"],
                "end": term["end"],
                "state": term["state"],
                "district": term.get("district"),
                "party": term.get("party"),
                "class": term.get("class"),
            })
            rows.append(row)

    # Convert to DataFrame
    legislators = pd.DataFrame(rows)
    return legislators

incumbent = load_json('legislators-current.json')
non_incumbent = load_json('legislators-historical.json')

incumbent.shape
non_incumbent.shape

(42319, 16)

In [39]:
##Uma test cell
population.head(10)

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population
0,0,0,0,U.S.,2000,"282,162,411.00","19,178,293.00","53,197,896.00","27,315,274.00","84,973,340.00","62,428,040.00","35,069,568.00","72,376,189.00","150,287,588.00","59,498,634.00","138,443,407.00","143,719,004.00"
1,0,0,0,U.S.,2001,"284,968,955.00","19,298,217.00","53,372,958.00","27,992,652.00","84,523,274.00","64,491,563.00","35,290,291.00","72,671,175.00","151,902,194.00","60,395,586.00","139,891,492.00","145,077,463.00"
2,0,0,0,U.S.,2002,"287,625,193.00","19,429,192.00","53,507,265.00","28,480,708.00","83,990,295.00","66,695,526.00","35,522,207.00","72,936,457.00","152,463,197.00","62,225,539.00","141,230,559.00","146,394,634.00"
3,0,0,0,U.S.,2003,"290,107,933.00","19,592,446.00","53,508,312.00","28,916,746.00","83,398,001.00","68,828,899.00","35,863,529.00","73,100,758.00","153,134,701.00","63,872,474.00","142,428,897.00","147,679,036.00"
4,0,0,0,U.S.,2004,"292,805,298.00","19,785,885.00","53,511,850.00","29,302,179.00","83,066,831.00","70,935,234.00","36,203,319.00","73,297,735.00","153,998,940.00","65,508,623.00","143,828,012.00","148,977,286.00"
5,0,0,0,U.S.,2005,"295,516,599.00","19,917,400.00","53,606,269.00","29,441,546.00","82,764,185.00","73,137,401.00","36,649,798.00","73,523,669.00","154,701,635.00","67,291,295.00","145,197,078.00","150,319,521.00"
6,0,0,0,U.S.,2006,"298,379,912.00","19,938,883.00","53,818,831.00","29,602,839.00","82,638,980.00","75,216,272.00","37,164,107.00","73,757,714.00","155,527,978.00","69,094,220.00","146,647,265.00","151,732,647.00"
7,0,0,0,U.S.,2007,"301,231,207.00","20,125,962.00","53,893,443.00","29,808,025.00","82,509,693.00","77,068,373.00","37,825,711.00","74,019,405.00","156,257,657.00","70,954,145.00","148,064,854.00","153,166,353.00"
8,0,0,0,U.S.,2008,"304,093,966.00","20,271,127.00","53,833,475.00","30,194,274.00","82,399,959.00","78,617,510.00","38,777,621.00","74,104,602.00","157,054,680.00","72,934,684.00","149,489,951.00","154,604,015.00"
9,0,0,0,U.S.,2009,"306,771,529.00","20,244,518.00","53,889,649.00","30,530,346.00","82,211,153.00","80,272,688.00","39,623,175.00","74,134,167.00","157,608,587.00","75,028,775.00","150,807,454.00","155,964,075.00"

In [ ]:
##Chad test cell